.open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 30px;
}
.txt-desc{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}
.title{
  padding-top: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.item-title{
  font-size: 20px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 10px;
  margin-top: 0;
}
.desc{
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  margin: 0;
}
.skill-desc{
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.skill-p{
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.resume-title{
  font-size: 30px;
  font-weight: bold;

}
.resume-subtitle{
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
.resume-under-sub{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.resume-p{
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  margin-bottom: 30px;
  margin-right: 47px;
}
.Foot-box-p{
  font-size: 16px;
  font-weight: 400;
  color: #474747;
}
.input-size{
  font-size: 18px;
  font-weight: 400;
  color: #757575;
}

.pri-color{
  color: #181818;
}
.sec-color{
  color: #474747;
}
.third-color{
  color: #757575;
}
.btn-color{
  color: #FD6E0A;
}
.bg-color{
  background-color: #FFF8F3;
}
.pri-btn{
  padding: 18px 35px;
  background-color: #FD6E0A;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.sec-btn{
  padding: 18px 35px;
  background-color: white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.pri-btn:hover{
  border: 1.5px solid #474747;
  color: #474747;
  cursor: pointer;
}
.sec-btn:hover{
  border: 1.5px solid #474747;
  color: #474747;
  cursor: pointer;
}
.icn{
  margin-right: 10px;
}



*{
  margin: 0;
  padding: 0;
}
.header{
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  height: 770px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  padding-top: 30px;
}
nav h2{
  font-weight: 800;
  font-size: 45px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-left: 51px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
nav a:hover{
  font-weight: 600;
  color: #FD6E0A;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.banner-content{
  padding-left: 200px;
  width: 800px;
  margin-top: -60px;
}
.banner-content h3{
  font-weight: 600;
  font-size: 45px;
  margin-top: 0px;
}
.banner-content h2{
  font-size: 85px;
  font-weight: 700;
  margin-top: 50px;

}
.banner-content p{
  padding-top: 50px;
  padding-bottom: 30px;
}
.banner-content button{
  margin-right: 30px;
}
.banner-img{
  padding-top: 10px;
}

main{
  width: 1140px;
  margin: 130px auto;
}
.about-container{
  padding: 130px 150px;
  margin-bottom: 130px;
  border-radius: 10px;
}
.about{
  border: 1px solid black;
  border-bottom: none;
}
.about h3{
  background-color: white;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0;
}
.about p{
  text-align: center;
  padding: 0px 5px 30px 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}
.about-section{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  padding-right: 10px;
  padding-left: 10px;
}
.skills{
  text-align: center;
}
.skills p{
  width: 900px;
  margin: auto;
  padding-top: 30px;
}
.skills-container{
  text-align: left;
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill{
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.164);
  padding: 30px;
  border-radius: 8px;
}
.skill img{
  padding-bottom: 30px;
}
.resume .title{
  margin-top: 130px;
  margin-bottom: 110px;
  text-align: center;
}
.resume-container{
  display: flex;
  gap: 30px;
}
.resume .btnn{
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
}
.Foot-box{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-clm{
  width: 50%;
}
.footer-clm h2{
  margin-bottom: 28px;
}
.footer-clm .media{
  margin-top: 30px;
}
.footer-clm .media a{
  margin-right: 20px;
}
.Foot-box input[type="text"], .Foot-box input[type="email"]{
  height: 64px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
.Foot-box textarea{
  width: 100%;
  border-radius: 5px;
  background-color: white;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  resize: vertical;
}